body {
	font: 12px Arial;
	text-align: center;
}

.screen {
	border: 1px #333 solid;
	display: inline-block;
	padding: 20px;
	text-align: left;
	width: 500px;
}

.screen h1 {
	margin: 0 0 10px 0;
}

.screen h1 span {
	font-size: 12px;
	color: red;
}

.screen h2 {
	margin: 0;
}

#nicknames {
	margin: 0 0 5px 0;
}

.chat-screen {
	display: none;
}

#output {
	border: 1px blue dashed;
	background: #f1f1f1;
	min-height: 200px;
	padding: 3px;
	margin-bottom: 2px;
}

#output p {
	margin: 2px;
}

#output p.you {
	color: red;
}
#output p.other {
	color: green;
}